$text-color: #000;
$link-color: #3972FF;

$blog-accent-color: #BF000E;
$resume-accent-color: #87BD00;
$portfolio-accent-color: #BD6800;
$contact-accent-color: #004BBD;

$solarized: light;
@import "solarized";
