@include establish-baseline;

$sans: "jaf-bernino-sans", "Helvetica Neue", "HiraKakuPro-W3", "Microsoft JhengHei", sans !default;
$heading-font-family: "omnes-pro", "Helvetica Neue", sans !default;
$mono: "source-code-pro", mono !default;
$h1-font-size: 38px !default;
$h2-font-size: $h1-font-size * 0.8 !default;
$h3-font-size: $h2-font-size * 0.8 !default;
$h4-font-size: $h3-font-size * 0.8 !default;
$h5-font-size: $h4-font-size * 0.8 !default;

.heading { font-family: $heading-font-family; }
.sans { font-family: $sans };
.mono { font-family: $mono };

h1 {
  @include adjust-font-size-to($h1-font-size);
  margin: 0 auto rhythm(1, $h1-font-size);
  font-family: $heading-font-family;
  font-weight: 500;
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  margin: 0 auto rhythm(0.25, $h2-font-size) auto;
  font-family: $heading-font-family;
  font-weight: 500;
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  margin: 0 auto rhythm(0.25, $h3-font-size) auto;
  font-family: $heading-font-family;
  font-weight: 500;
}

h4 {
  @include adjust-font-size-to($h4-font-size);
  margin: 0 auto rhythm(0.25, $h4-font-size) auto;
  font-family: $heading-font-family;
  font-weight: 500;
}

h5 {
  @include adjust-font-size-to($h5-font-size);
  margin: 0 auto rhythm(0.25, $h5-font-size) auto;
  font-family: $heading-font-family;
  font-weight: 500;
}

body {
  font-family: $sans;
}

a, a:visited, a:active {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: darken($link-color, 10%);
}

ul {
  list-style-type: disc;
  li {
    margin: 0 auto rhythm(0.25, 16px) auto;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/assets/ligaturesymbols/LigatureSymbols-2.09.eot');
    src: url('/assets/ligaturesymbols/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('/assets/ligaturesymbols/LigatureSymbols-2.09.woff') format('woff'),
         url('/assets/ligaturesymbols/LigatureSymbols-2.09.ttf') format('truetype'),
         url('/assets/ligaturesymbols/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    src: url('/assets/ligaturesymbols/LigatureSymbols-2.09.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
