  {% if page.layout == 'portfolio' %}
  <link href="{{ root_url }}/stylesheets/portfolio.css" media="screen, projection" rel="stylesheet" type="text/css">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- fancyBox -->
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <!-- Add fancyBox -->
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/jquery.fancybox.css?v=2.0.4" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ root_url }}/javascripts/jquery.fancybox.pack.js?v=2.0.4"></script>
  <!-- Add fancyBox jQuery -->
  <script type="text/javascript">
    jQuery.noConflict();    // prevents conflicts with Ender.js, use jQuery instead of $
    jQuery(document).ready(function() {
        jQuery(".fancybox").fancybox();
    });
  </script>
  <!-- End fancyBox insert -->

  {% if page.layout == 'portfolio' %}
  <script src="/portfolio/jquery.masonry.min.js" type="text/javascript"></script>
  {% endif %}